<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quản lý sản phẩm</title>

    <link type="text/css" href="css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery_min.js"></script>

</head>

<body>
    <!--HEADER-->
    <div class="header">
        <h1>QUẢN LÝ SIÊU THỊ</h1>
        <div class="logout" style="display: flex">
            <div style="margin-top: 15px">Xin chào :</div> &nbsp; &nbsp; <b><div id="user-info"></div></b> &nbsp; &nbsp;<div style="margin-top: 14px">| <a onclick="Logout()" title="Log out">Log out</a></div>
        </div>
        <!--NAVIGATION BAR-->
        <ul class="navigation">
            <a class="navigation-item-selected">
                <li>Trang chủ</li>
            </a>
            <a href="statistical.html">
                <li>Thống kê</li>
            </a>
            <a href="manage_product.html">
                <li>Quản lý sản phẩm</li>
            </a>
            <a href="manage_customer.html">
                <li>Quản lý khách hàng</li>
            </a>
            <a href="manage_order.html">
                <li>Quản lý đơn hàng</li>
            </a>
        </ul>
        <!--NAVIGATION BAR-->
    </div>
    <!--END HEADER-->

    <!--CONTENT-->
    <div class="content">
        abc

    </div>
    <!--END CONTENT-->

    <!--FOOTER-->
    <div class="footer">
        <p><b>Web quản lý siêu thị</b></p>
        <span style="line-height:18px;">
        <b>Người thực hiện: Hà Văn Thiệp</b><br/>
        <b>MSV: B20DCCN668</b>
    </span>
    </div>
    <!--END FOOTER-->

</body>

<script src="js/login.js"></script>

</html>