<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quản lý khách hàng</title>

    <link type="text/css" href="../css/main.css" rel="stylesheet" />
    <link type="text/css" href="../css/statistic.css" rel="stylesheet" />
    <link type="text/css" href="../css/manage_customer.css" rel="stylesheet" />

</head>

<body>
<!--HEADER-->
<div class="header">
    <h1 class="app_name" >QUẢN LÝ SIÊU THỊ</h1>
    <!--    <div class="logout" style="display: flex">-->
    <!--        <div style="margin-top: 15px">Xin chào :</div> &nbsp; &nbsp; <b><div id="user-info"></div></b> &nbsp; &nbsp;<div style="margin-top: 14px">| <a onclick="Logout()" title="Log out">Log out</a></div>-->
    <!--    </div>-->
    <!--NAVIGATION BAR-->
    <ul class="navigation">
        <a href="manage.html">
            <li>Trang chủ</li>
        </a>
        <a class="navigation-item-selected">
            <li>Thống kê</li>
        </a>
        <!--        <a href="manage_product.html">-->
        <!--            <li>Quản lý sản phẩm</li>-->
        <!--        </a>-->
        <!--        <a href="manage_order.html">-->
        <!--            <li>Quản lý đơn hàng</li>-->
        <!--        </a>-->
        <a href="manage_customer.html">
            <li>Quản lý khách hàng</li>
        </a>
    </ul>
    <!--NAVIGATION BAR-->
</div>
<!--END HEADER-->

<!--CONTENT-->
<div class="content">

    <div class="content-title" style="display: flex; margin-top: 0">
        <p>Thông tin đơn hàng có ID&nbsp;</p>
        <p id="order_id"></p>
    </div>
    <form class="formInfor" style="display: flex" method="post">
        <div>
            <div style="display: flex">
                <p>ID Khách hàng: &nbsp;</p>
                <input type="text" class="input_disable" id="input_idkh" disabled/>
            </div>

            <div style="display: flex">
                <p>Họ và tên: &nbsp;</p>
                <input type="text" class="input_disable" id="input_name" disabled/>
            </div>

            <div style="display: flex">
                <p>Ngày mua: &nbsp;</p>
                <input type="text" class="input_disable" id="input_date" disabled/>
            </div>
        </div>
        <div>
            <div style="display: flex">
                <p>Vận chuyển: &nbsp;</p>
                <input type="text" class="input_disable" id="input_shipment" disabled/>
            </div>

            <div style="display: flex">
                <p>Thanh toán: &nbsp;</p>
                <input type="text" class="input_disable" id="input_payment" disabled/>
            </div>

            <div style="display: flex">
                <p>Trạng thái: &nbsp;</p>
                <input type="text" class="input_disable" id="input_status"  disabled/>
            </div>
        </div>

<!--        <div style="border-left: 1px solid rgb(0,0,0); padding-left: 2%">-->
<!--            <div style="display: flex">-->
<!--                <p>Địa chỉ: &nbsp;</p>-->
<!--                <input type="text" class="input_disable" id="input_address" disabled/>-->
<!--            </div>-->

<!--            <div style="display: flex">-->
<!--                <p>Email: &nbsp;</p>-->
<!--                <input type="text" class="input_disable" id="input_email" disabled/>-->
<!--            </div>-->

<!--            <div style="display: flex">-->
<!--                <p>Số điện thoại: &nbsp;</p>-->
<!--                <input type="text" class="input_disable" id="input_phone"  disabled/>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            <div style="display: flex">-->
<!--                <p>Địa chỉ: &nbsp;</p>-->
<!--                <input type="text" class="input_disable" id="input_address" disabled/>-->
<!--            </div>-->

<!--            <div style="display: flex">-->
<!--                <p>Email: &nbsp;</p>-->
<!--                <input type="text" class="input_disable" id="input_email" disabled/>-->
<!--            </div>-->

<!--            <div style="display: flex">-->
<!--                <p>Số điện thoại: &nbsp;</p>-->
<!--                <input type="text" class="input_disable" id="input_phone"  disabled/>-->
<!--            </div>-->
<!--        </div>-->
    </form>

    <p id="table-heading">Danh sách sản phẩm trong đơn hàng</p>

    <div style="height: 300px; overflow:auto; position: relative;">
        <table class="sort-table" id="item_table">
            <thead style="position: sticky; top: 0;">
            <tr>
                <th class="table-header col col1 center">STT</th>
                <th class="table-header col1 center">ID</th>
                <th class="table-header col col3 center">Tên sản phẩm</th>
                <th class="col col1 center">Ảnh</th>
                <th class="table-header col col2 center">Danh mục</th>
                <th class="table-header col col1 center">Số lượng</th>
                <th class="table-header col col2 center">Đơn giá</th>
                <th class="table-header col col2 center">Thành tiền</th>
                <th class="col col1 center">Thao tác</th>
            </tr>
            </thead>
            <tbody id="item_table_body"></tbody>
            <tfoot id="item_table_foot" style="position: sticky; bottom: 0;">
            <tr>
                <td colspan="5" class="col left">Tổng thanh toán:</td>
                <td id="total_quantity_footer" class="col col1 right"></td>
                <td class="col"></td>
                <td id="total_cost_footer" class="col col2 right"></td>
                <td class="col"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--END CONTENT-->

<!--FOOTER-->
<div class="footer">
    <p><b>Web quản lý siêu thị</b></p>
    <span style="line-height:18px;">
        <b>Người thực hiện: Hà Văn Thiệp</b><br/>
        <b>MSV: B20DCCN668</b>
    </span>
</div>
<!--END FOOTER-->

</body>
<script src="../js/order.js"></script>
<script src="../js/manage_customer.js"></script>
<script src="../js/sort_table.js"></script>
<script type="text/javascript">
    var url = new URL(window.location.href);
    var id = url.searchParams.get("order_id");

    window.onload = function() {
        getDetailOrder(id);
        getAllItemByOrderId(id);
    }
</script>
<script src="../js/logout.js"></script>

</html>
