<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link type="text/css" href="../css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <form id="loginForm" method="POST">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Mật khẩu:</label><br>
            <input type="password" id="password" name="password" required><br>
            <button type="submit" >Đăng nhập</button>
        </form>
        <div id="result"></div>
        <div id="registerLink">
            Bạn chưa có tài khoản? &nbsp;<a href="register.html">Đăng ký ngay</a>
        </div>
    </div>

</body>

<script src="../js/login&register.js"></script>
<script>
    // Gọi hàm LoginRegister khi tệp HTML được tải
    document.addEventListener("DOMContentLoaded", function() {
        LoginRegister();
    });
</script>

</html>