<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quản lý khách hàng</title>

    <link type="text/css" href="../../css/main.css" rel="stylesheet" />
    <link type="text/css" href="../../css/manage_customer.css" rel="stylesheet" />
</head>

<body>
<!--HEADER-->
<div class="header">
    <h1 class="app_name" >QUẢN LÝ SIÊU THỊ</h1>
    <!--    <div class="logout" style="display: flex">-->
    <!--        <div style="margin-top: 15px">Xin chào :</div> &nbsp; &nbsp; <b><div id="user-info"></div></b> &nbsp; &nbsp;<div style="margin-top: 14px">| <a onclick="Logout()" title="Log out">Log out</a></div>-->
    <!--    </div>-->
    <!--NAVIGATION BAR-->
    <ul class="navigation">
        <a href="manage.html">
            <li>Trang chủ</li>
        </a>
        <a href="statistic.html">
            <li>Thống kê</li>
        </a>
        <!--        <a href="manage_product.html">-->
        <!--            <li>Quản lý sản phẩm</li>-->
        <!--        </a>-->
        <!--        <a href="manage_order.html">-->
        <!--            <li>Quản lý đơn hàng</li>-->
        <!--        </a>-->
        <a class="navigation-item-selected">
            <li>Quản lý khách hàng</li>
        </a>
    </ul>
    <!--NAVIGATION BAR-->
</div>
<!--END HEADER-->

<!--CONTENT-->
<div class="content">
    <div style="display: flex">
        <p class="content-title">Thông tin khách hàng có ID: &nbsp;</p>
        <p class="content-title" id="user_id"></p>
    </div>
    <form class="formInfor" method="post">
        <div style="display: flex">
            <p>Họ và tên: &nbsp;</p>
            <input type="text" class="input_disable" id="input_name" disabled/> <br/>
        </div>

        <div style="display: flex">
            <p>Ngày sinh: &nbsp;</p>
            <input type="text" class="input_disable" id="input_dob" disabled/> <br/>
        </div>

        <div style="display: flex">
            <p>Giới tính: &nbsp;</p>
            <input type="text" class="input_disable" id="input_gender" disabled/> <br/>
        </div>
        <div style="display: flex">
            <p>Địa chỉ: &nbsp;</p>
            <input type="text" class="input_disable" id="input_address" disabled/> <br/>
        </div>

        <div style="display: flex">
            <p>Email: &nbsp;</p>
            <input type="text" class="input_disable" id="input_email" disabled/> <br/>
        </div>

        <div style="display: flex">
            <p>Số điện thoại: &nbsp;</p>
            <input type="text" class="input_disable" id="input_phone"  disabled/> <br/>
        </div>

    </form>
</div>
<!--END CONTENT-->

<!--FOOTER-->
<div class="footer">
    <p><b>Web quản lý siêu thị</b></p>
    <span style="line-height:18px;">
        <b>Người thực hiện: Hà Văn Thiệp</b><br/>
        <b>MSV: B20DCCN668</b>
    </span>
</div>
<!--END FOOTER-->

</body>
<script src="../../js/admin/manage_customer.js"></script>
<script type="text/javascript">
   var url = new URL(window.location.href);
   var id = url.searchParams.get("id");

   window.onload = function() {
       getDetailCustomer(id);
   }
</script>
<script src="../../js/logout.js"></script>

</html>