<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quản lý khách hàng</title>

    <link type="text/css" href="../../css/main.css" rel="stylesheet" />
    <link type="text/css" href="../../css/manage_customer.css" rel="stylesheet" />
    <link type="text/css" href="../../css/statistic.css" rel="stylesheet" />

</head>

<body>
<!--HEADER-->
<div class="header">
    <h1 class="app_name" >QUẢN LÝ SIÊU THỊ</h1>
<!--    <div class="logout" style="display: flex">-->
<!--        <div style="margin-top: 15px">Xin chào :</div> &nbsp; &nbsp; <b><div id="user-info"></div></b> &nbsp; &nbsp;<div style="margin-top: 14px">| <a onclick="Logout()" title="Log out">Log out</a></div>-->
<!--    </div>-->
    <!--NAVIGATION BAR-->
    <ul class="navigation">
        <a href="manage.html">
            <li>Trang chủ</li>
        </a>
        <a href="statistic.html">
            <li>Thống kê</li>
        </a>
<!--        <a href="manage_product.html">-->
<!--            <li>Quản lý sản phẩm</li>-->
<!--        </a>-->
<!--        <a href="manage_order.html">-->
<!--            <li>Quản lý đơn hàng</li>-->
<!--        </a>-->
        <a class="navigation-item-selected">
            <li>Quản lý khách hàng</li>
        </a>
    </ul>
    <!--NAVIGATION BAR-->
</div>
<!--END HEADER-->

<!--CONTENT-->
<div class="content">
    <div style="display: flex; align-items: baseline; height:50px; margin-top: 0">
        <h2 class="content-title">Tìm khách hàng</h2>
        <input  type="search" class="txt" name="txtSearch" id="txtSearch" placeholder="Nhập từ khoá cần tìm" style="width: 230px; height: 25px; margin-left: 10px" />
        <button style="margin-left: 10px; height: 25px" type="button" onclick="searchUser()">Tìm kiếm</button>
        <button style="margin-left: 30px; height: 25px; width: 150px; background-color: #6c8672; color: white" onclick="window.location.href = 'add_customer.html'">Thêm khách hàng</button>
    </div>
    <div style="max-height: 360px; margin-top: 10px; overflow:auto;">
        <table class="sort-table" id="item_table">
            <thead style="position: sticky; top: 0;">
                <tr>
                    <th class="table-header col col1 center" >STT</th>
                    <th class="table-header col col1 center" >ID</th>
                    <th class="table-header col col3 center" >Tên khách hàng</th>
                    <th class="table-header col col2 center" >Ngày sinh</th>
                    <th class="table-header col col1 center" >Giới tính</th>
                    <th class="table-header col col3 center" >Địa chỉ</th>
                    <th class="table-header col col1 center" >SĐT</th>
                    <th class="col col2 center" >Thao tác</th>
                </tr>
            </thead>
            <tbody id="table_customer" class="danhsach-chitiet">
            </tbody>
        </table>
    </div>
</div>
<!--END CONTENT-->

<!--FOOTER-->
<div class="footer">
    <p><b>Web quản lý siêu thị</b></p>
    <span style="line-height:18px;">
        <b>Người thực hiện: Hà Văn Thiệp</b><br/>
        <b>MSV: B20DCCN668</b>
    </span>
</div>
<!--END FOOTER-->

</body>
<script src="../../js/manage_customer.js"></script>
<script src="../../js/sort_table.js"></script>
<script type="text/javascript">
    window.onload = getAllUser();
</script>
<script src="../../js/logout.js"></script>

</html>